{% extends "base.html.twig" %}
{% block title %}
	<title>PerfADom/Dashboard-Médecin</title>
{% endblock %}
{% block link %}
	<link rel="stylesheet" href="/css/styleDashboard.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
{% endblock %}

{% block header %}
	{% include "layouts/header.html.twig" %}
{% endblock %}
{% block main %}
	<main>
		{% include "layouts/sidebar.html.twig" %}
		<div class="dashboardContainer">
			<div id="breadcrumb">
				<a href="/doctorDashboard">Dashboard</a>
				<a href="/detailPatient/{{patient._id}}">> Détails
					{{patient.gender}}
					{{patient.firstname}}
					{{patient.name|upper}}</a>
				<span>> Ajouter un traitement</span>
			</div>
			<section id="add_treatment">
				<h2 class="sectionTitle">Ajouter un traitement</h2>
				<form id="form_add_treatment" action="/addTreatment/{{patient.id}}" method="post">
					<div>
						<div>
							<p>Date du début du traitement :
								<input class="input inputDate" type="date" name="startDate"></p>
						</div>
						<div class="inputMedicationContainer">
							<p>Médicaments :
								<select class="select" id="medicationList" name="prestataire">
									<option id="placeholder" value="" disabeled selected hidden data-placeholder>Choix du médicament</option>
									{% for medication in medicationList %}
										<option data-value='{{medication|json_encode}}' value='{{medication.id}}'>
											{{medication.name}}
											{{medication.routeAdministration}}
											en
											{{medication.modeAdministration}}
											dans
											{{medication.dilution}}
											en
											{{medication.infusionTime}}
										</option>
									{% endfor %}
								</select>
							</p>
							<a class="button" id="add_medication" onclick="openModal()">
								<span id="add_medication_button" class="button__text">Add Médoc</span>
								<span id="add_medication_icon" class="button__icon">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" viewbox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
										<line y2="19" y1="5" x2="12" x1="12"></line>
										<line y2="12" y1="12" x2="19" x1="5"></line>
									</svg>
								</span>
							</a>
						</div>
						<p>Liste des médicaments ajoutés au traitements :</p>
						{% if errors is defined %}
							{% if errors.quantityAmpoule is defined %}
								<p class="error">{{errors.quantityAmpoule.message}}</p>
							{% endif %}
							{% if errors.quantity is defined %}
								<p class="error">{{errors.quantity.message}}</p>
							{% endif %}
							{% if errors.duration is defined %}
								<p class="error">{{errors.duration.message}}</p>
							{% endif %}
						{% endif %}
						<div id="medContainer"></div>
					</div>
					<div class="createButton">
						<button id="create_button">Créer</button>
					</div>
				</div>
			</form>
		</section>
		<!-- Modale addMedication -->
		<div class="modal">
			<div class="modal-content">
				<span id="closeModalAdd" class="close" onclick="closeModal()">x</span>
				<h3 id="titleModal">Création d'un nouveau médicament</h2>
				<form id="formAddMed">
					<input class="input " type="text" id="name" name="name" placeholder="Nom du médicament" required>
					{% if condition %}{% endif %}
					<select name="routeAdministration" class="select" required>
						{% for option in optionRouteArray %}
							<option value="{{option}}"></option>
							{{option}}
						</option>
					{% endfor %}
				</select>
				<select name="modeAdministration" class="select" required>
					{% for option in optionModeArray %}
						<option value="{{option}}"></option>
						{{option}}
					</option>
				{% endfor %}
			</select>
			<select name="dilution" class="select" required>
				{% for option in optionDilutionArray %}
					<option value="{{option}}"></option>
					{{option}}
				</option>
			{% endfor %}
		</select>
		<select name="infusionTime" class="select" required>
			{% for option in optionTimeArray %}
				<option value="{{option}}"></option>
				{{option}}</option>
		{% endfor %}
	</select>
	<button id="createMed" class="medButton">Créer</button>
</form></div></div></main>{% endblock %}{% block footer %}{% include "layouts/footer.html.twig" %}{% endblock %}{% block script %}<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script><script src="/js/med.js"></script>{% endblock %}
