{% extends "base.html.twig" %}
{% block title %}
	<title>PerfADom/Dashboard-Médecin</title>
{% endblock %}
{% block link %}
	<link rel="stylesheet" href="/css/styleDashboard.css">
{% endblock %}

{% block header %}
	{% include "layouts/header.html.twig" %}
{% endblock %}
{% block main %}
	<main>
		{% include "layouts/sidebar.html.twig" %}
		<div class="dashboardContainer">
			<div id="breadcrumb">
				{% if uri == "//doctorDashboard?searchPatient" or uri == "//doctorDashboard?search"  %}
					<a {% if role == "doctor" %} href="/doctorDashboard" {% else %} href="/prestataireDashboard" {% endif %}>Dashboard</a>
					{% if uri == "/searchMyPatientD" or uri == "/searchMyPatientP"%}
						<span>
							> Rechercher mon patient</span>
					{% else %}
						<span>
							> Rechercher un patient</span>
					{% endif %}

				{% else %}
					<span>Dashboard</span>
				{% endif %}

			</div>
			{% if uri == "/doctorDashboard" or uri == "/prestataireDashboard" %}
				<h2 class="sectionTitle">Mes patients</h2>
				<div class="searchContainer">
					<form class="form_search" {% if role == "doctor" %} action="/doctorDashboard" {% else %} action="/searchMyPatientP" {% endif %} method="get">
						<input class="input_search" type="text" name="search" placeholder="Rechercher mon patient">
						<button class="search"><img src="/images/search.png" alt="images/search.png"></button>
					</form>
					{% if role == "doctor" %}
						<a href="/createPatient" class="button">
							<span class="button__text">Add Patient</span>
							<span class="button__icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" viewbox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
									<line y2="19" y1="5" x2="12" x1="12"></line>
									<line y2="12" y1="12" x2="19" x1="5"></line>
								</svg>
							</span>
						</a>
					{% endif %}
				</div>
			{% else %}
				<h2 class="sectionTitle">Patient(s) recherché(s)</h2>
			{% endif %}
			{% if patientList is empty %}
				{% if uri == "//doctorDashboard?searchPatient" or  uri == "//doctorDashboard?search"%}
				<div class="infoContainer">
					<p class="info">Il n'y a pas de patient à ce nom ou prénom</p>
					<a href="/createPatient" class="button">
							<span class="button__text">Add Patient</span>
							<span class="button__icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" viewbox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
									<line y2="19" y1="5" x2="12" x1="12"></line>
									<line y2="12" y1="12" x2="19" x1="5"></line>
								</svg>
							</span>
					</a>
				</div>
				{% else %}
					<p class="info">Vous n'avez pas de patient</p>
				{% endif %}

			{% else %}
				<div class="patientList">
					{% for patient in patientList %}
						<div class="patientCard">
							<div class="namePatient">
								<p>{{patient.gender}}
									{{patient.firstname}}
									{{patient.name|upper}}
								</p>
							</div>
							<div class="birthday">
								<p class="number ">Téléphone :
									<span class="formattedNumber">{{patient.number}}</span>
								</p>
								<p>Date de naissance :
									<span class="formattedDate">{{patient.birthday}}</span>
								</p>
							</div>
							<div class="detailContainer">
								{% if role == "doctor" %}
									<a id="details" href="/detailPatient/{{patient._id}}">Détails</a>
								{% else %}
									<a id="details" href="/detailPatientP/{{patient._id}}">Détails</a>
								{% endif %}

							</div>
							{% if uri != "/searchPatient" %}

								<a href="/deletePatient/{{patient._id}}"><img class="deleteButton" src="/images/logosupprimer.png" alt="supprimer"></a>
							{% endif %}

						</div>
					{% endfor %}
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
{% block footer %}
	{% include "layouts/footer.html.twig" %}
{% endblock %}
{% block script %}
	<script src="/js/dashboard.js"></script>
{% endblock %}
