{% extends "base.html.twig" %}
{% block title %}
	<title>PerfADom/Dashboard-Médecin</title>
{% endblock %}
{% block link %}
	<link rel="stylesheet" href="/css/styleDashboard.css">
{% endblock %}

{% block header %}
	{% include "layouts/header.html.twig" %}
{% endblock %}
{% block main %}
	<main>
		{% include "layouts/sidebar.html.twig" %}
		<div class="dashboardContainer">
			<div id="breadcrumb">
				<a {% if role == "doctor" %} href="/doctorDashboard" {% else %} href="/prestataireDashboard" {% endif %}>Dashboard</a>
				<span>> Détails
					{{patient.gender}}
					{{patient.firstname}}
					{{patient.name|upper}}</span>
			</div>
			<div class="detailPatient">
				<div class="titleDetail">
					<p class="bold title">{{patient.gender}}
						{{patient.firstname}}
						{{patient.name|upper}}</p>
					<p class="bold">Date de naissance :
						<span class="formattedDate regular">{{patient.birthday}}</span>
					</p>
				</div>
				<div class="informationContainer">
					<div class="firstInformation">
						<p class="bold">N° SS :
							<span class="formattedSs regular">{{patient.numberSS}}</span>
						</p>
						<p class="bold">ALD :
							<span class="regular">
								{% if patient.ALD  %}
									Oui
								{% else %}
									Non
								{% endif %}
							</span>
						</p>
						<p class="bold">Tel :
							<span class="regular">
								{% if patient.number == "" %}
									Pas de téléphone renseigné
								{% else %}
									<span class="formattedNumber">{{patient.number}}</span>
								{% endif %}
							</span>
						</p>
						<p class="bold">Mail :
							<span class="regular">
								{{patient.mail}}
							</span>
						</p>
						<p class="bold">Prestataire :
							<span class="regular">
								{% if patient.prestataire is empty %}
									Pas de prestataire renseigné
								{% else %}
									{{prestataire.societyName}}/{{prestataire.salesPersonName}}
									{{prestataire.salesPersonFirstname}}
								{% endif %}
							</span>
						</p>
					</div>
					<div class="secondInformation">
						<p class="bold">Infirmier :
							<span class="regular">
								{% if patient.nurse == "" %}Pas d'infirmier renseigné
								{% else %}
									{{patient.nurse}}
								{% endif %}
							</span>
						</p>
						<p class="bold">Pharmacie :
							<span class="regular">
								{% if patient.pharmacy == "" %}Pas de pharmacie renseignée
								{% else %}
									{{patient.pharmacy}}
								{% endif %}
							</span>
						</p>
					</div>
				</div>
				{% if patient.id in doctor.patientList %}
				    <div class="grandLine"></div>
						<div class="treatmentList">
							<p class="bold">Traitements :</p>
						</div>
					{% else %}
					<a href="/addPatient/{{patient.id}}" id="add_patient" class="button">
							<span id="add_button"class="button__text">Add Patient</span>
							<span id="icon_button" class="button__icon">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" viewbox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
									<line y2="19" y1="5" x2="12" x1="12"></line>
									<line y2="12" y1="12" x2="19" x1="5"></line>
								</svg>
							</span>
						</a>
						
				{% endif %}

			</div>
		</div>
	</main>
{% endblock %}
{% block footer %}
	{% include "layouts/footer.html.twig" %}
{% endblock %}
{% block script %}
	<script src="/js/dashboard.js"></script>
{% endblock %}
